// Title module

.mod-title {
	margin-top: 500px;
	text-align: center;
}

// Name
.mod-title_name {
	margin-left: -30px;
	margin-bottom: 15px;
}

// Job
.mod-title_job {
	margin-right: -30px;
	margin-bottom: 0;
}
