// Grid mixin

@mixin grid(
	$number, // Number of columns (example: 4)
	$breakpoint: false, // Breakpoint (example: small, default: undefined)
	$gutter: map-get($grid-gutters, default) // Gutter size (example: 10px, default: $grid-gutters default value)
) {
	// Column spread number based on total columns
	$grid-number: grid-number($number, $breakpoint);

	// If breakpoint use media query
	@if $breakpoint {
		@include breakpoint($breakpoint) {
			// Breakpoint grid styles with breakpoint gutter
			@include grid-styles($grid-number, grid-gutter($breakpoint));
		}
	} @else {
		// Grid styles without breakpoint
		@include grid-styles($grid-number, $gutter);
	}
}
