// Site styles

.site {
	position: relative;
    min-width: $siteMinWidth;
    max-width: $siteMaxWidth;
    min-height: 100%;
    margin: 0 auto;
	box-sizing: border-box;

	// Hide overflow if screen size is smaller than maximum site width
	overflow-x: hidden;

	// Only for large desktop screens the visble overflow is useful
	@include breakpoint($siteMaxWidth) {
		overflow-x: visible;
	}
}
