<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Simon Koch @agorilla</title>

	<meta name="description" content="Website of Simon Koch">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Main stylesheet -->
	<link href="../../css/main.css" rel="stylesheet">

	<!-- Head JavaScript -->
	<script src="../../js/head.js" type="text/javascript"></script>

	<!-- SVG icon fallback -->
	<noscript>
		<link href="../../css/icons/icons.fallback.css" rel="stylesheet">
	</noscript>
</head>

<body>
<div class="site">
	<!-- include: modules -->
</div>

<!-- Main JavaScript -->
<script src="../../js/main.js" type="text/javascript"></script>

<!-- Live reload plugin // not for production -->
<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
