// Responsive media query breakpoint mixin
//
// Usage:
// @include breakpoint(sm) { color: yellow; background: green; }
// @include breakpoint(md) { color: white; background: blue; }
// @include breakpoint(lg) { color: red; background: yellow; }
// @include breakpoint(xl) { color: black; background: orange; }
// @include breakpoint(1024px, max-width) { color: black; background: white; }

@mixin breakpoint($size, $selector: min-width) {
	$breakpoint: map_get($siteBreakpoints, $size);

	@media (min-width: $breakpoint) {
		@content;
	}
}
