// Site configuration

// Site width
$siteMaxWidth: 1280px;
$siteMinWidth: 320px;

// Horizontal site space
$siteSpaces: (
	small: 15px,
	medium: 30px,
	large: 40px,
	xlarge: 50px
);

// Responsive site breakpoints
$siteBreakpoints: (
	small: 420px,
	medium: 600px,
	large: 800px,
	xlarge: 1000px
);
